

NET "load_input[3]" LOC = N3;
NET "load_input[2]" LOC = E2;
NET "load_input[1]" LOC = F3;
NET "load_input[0]" LOC = G3;
NET "count" LOC = A7;
NET "reset" LOC = G12;
NET "load" LOC = M4;
NET "sel" LOC = L3;
NET "up_down" LOC = P11;
NET "clk" LOC = B8;


NET "display_pins[6]" LOC = L14;
NET "display_pins[5]" LOC = H12;
NET "display_pins[4]" LOC = N14;
NET "display_pins[3]" LOC = N11;
NET "display_pins[2]" LOC = P12;
NET "display_pins[1]" LOC = L13;
NET "display_pins[0]" LOC = M12;


NET "decimal_point" LOC = N13;

# PlanAhead Generated physical constraints 

NET "display_sel_pins[3]" LOC = K14;
NET "display_sel_pins[2]" LOC = M13;
NET "display_sel_pins[1]" LOC = J12;
NET "display_sel_pins[0]" LOC = F12;
